<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/course.css">
</head>
<body>
  <div class="wrapper">
    <div class="top">
      <div class="top-title">免费课程和纳米学位项目</div>
      <div class="search">
        <input type="text" placeholder="搜索感兴趣的课程">
        <button type="submit"></button>
      </div>
    </div>
    <div class="main">
      <div class="left-nav">
        <div class="classify">
          <h3>类别</h3>
          <ul>
            <% if (link.level) { %>
              <li><a href="/courses?level=<%= link.level %>&track=数据科学">数据科学</a></li>
              <li><a href="/courses?level=<%= link.level %>&track=Andriod">Andriod</a></li>
              <li><a href="/courses?level=<%= link.level %>&track=网站开发">网站开发</a></li>
              <li><a href="/courses?level=<%= link.level %>&track=软件工程">软件工程</a></li>
              <li><a href="/courses?level=<%= link.level %>&track=IOS">IOS</a></li>
              <li><a href="/courses?level=<%= link.level %>&track=佐治亚理工学院计算机科学硕士">佐治亚理工学院计算机科学硕士</a></li>
              <li><a href="/courses?level=<%= link.level %>&track=非技术类">非技术类</a></li>
              <li><a href="/courses?level=<%= link.level %>">全部课程</a></li>
            <% } else { %>
              <li><a href="/courses?track=数据科学">数据科学</a></li>
              <li><a href="/courses?track=Andriod">Andriod</a></li>
              <li><a href="/courses?track=网站开发">网站开发</a></li>
              <li><a href="/courses?track=软件工程">软件工程</a></li>
              <li><a href="/courses?track=IOS">IOS</a></li>
              <li><a href="/courses?track=佐治亚理工学院计算机科学硕士">佐治亚理工学院计算机科学硕士</a></li>
              <li><a href="/courses?track=非技术类">非技术类</a></li>
              <li><a href="/">全部课程</a></li>
            <% } %>
          </ul>
        </div>
        <span class="separate-line"></span>
        <div class="classify">
          <h3>难度</h3>
          <ul>
            <li><a href="javascript:">全部</a></li>
            <li><a href="javascript:">初级</a></li>
            <li><a href="/courses?level=中级">中级</a></li>
            <li><a href="javascript:">高级</a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="introduction">
          <h3>全部纳米学位项目和单项课程</h3>
          <p>学习由Google、亚马逊、Facebook等全球领先科技企业参与制作的纳米学位和单项课程，从零开始成为人工智能、机器学习、无人驾驶车、机器开发工程师，或网站开发、移动开发工程师和数据分析师。获得行业领导者的认可和认证，成为改变世界的抢手人才。</p>
        </div>
        <div class="course-list">
          <% course.forEach(function(item) { %>
            <div class="course-item">
              <div class="course-img">
                <img src="/images/course_img01.png" alt="">
              </div>
              <div class="course-info">
                <div class="course-title">
                  <h3><%= item.title %></h3>
                  <p class="course-num">5个项目</p>
                </div>
                <div class="course-level"><%= item.level %></div>
                <div class="summary">
                  <h3><%= item.short_summary %></h3>
                  <p><%- item.summary %></p>
                </div>
              </div>
            </div>
          <% })%>
<!--           <div class="course-item">
            <div class="course-img">
              <img src="/images/course_img01.png" alt="">
            </div>
            <div class="course-info">
              <div class="course-title">
                <h3>深度学习（中/英）</h3>
                <p class="course-num">5个项目</p>
              </div>
              <div class="course-level">中级</div>
              <div class="summary">
                <h3>这门课程将带你走进计算机视觉的的世界，教授基础知识、应用方法和机器学习分类。</h3>
                <p>在整个课程中，我们将使用代数量化和描述周围的世界。你有没有思考过，你的闪存盘可以装下多少首歌曲？学完本课程后，你将掌握更扎实的技能，能够为问题建模、分析模式，并使用代数得出结论。</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</body>
</html>

